<div class="about-section" data-aos="fade-up" data-aos-duration="1000">
    <div class="about-left" data-aos="fade-right" data-aos-duration="800">
        <h1>Know Who <span>I'M</span></h1>
        <p style="margin-top: 1rem;">Hi Everyone, I am <span>Smit Dave</span> from <span>Vadodara, Gujarat, India.</span></p>
        <p class="about-text">An enthusiastic candidate with considerable experience in the field of Computer Science, specializing in Cybersecurity and Android development. I am passionate about securing digital systems and developing innovative security solutions. I have worked on multiple projects, including network security, penetration testing, and secure application development, ensuring robust protection against cyber threats. My expertise in cybersecurity, along with Android app development, allows me to create secure and efficient applications.
        </p>
        
        <h2 class="personality-title" data-aos="zoom-in" data-aos-duration="800">PERSONALITY <span>&</span> STRENGTHS</h2>
        <ul>
            <li data-aos="fade-left" data-aos-delay="150">🔹 Problem-Solver – Enjoy tackling challenges with a logical and analytical approach.</li>
            <li data-aos="fade-left" data-aos-delay="300">🔹 Team Player – Collaborate effectively with teams to drive successful project outcomes.</li>
            <li data-aos="fade-left" data-aos-delay="450">🔹 Quick Learner – Adapt to new technologies and methodologies with ease.</li>
            <li data-aos="fade-left" data-aos-delay="600">🔹 Leadership Skills – Successfully led small teams in project development and execution.</li>
            <li data-aos="fade-left" data-aos-delay="750">🔹 Multilingual – Fluent in English, Gujarati, Hindi, and Spanish.</li>
        </ul>

        <h2 class="about-code-line" data-aos="flip-up" data-aos-duration="800">Beyond Coding, I Enjoy:</h2>
        <p class="about-know" data-aos="fade-up" data-aos-delay="150">- Exploring cybersecurity trends and ethical hacking</p> 
        <p class="about-know" data-aos="fade-up" data-aos-delay="300">- Researching and implementing secure development practices</p>  
        <p class="about-know" data-aos="fade-up" data-aos-delay="450">- Traveling and experiencing new cultures</p>
        
        <p class="about-innovative" data-aos="zoom-in" data-aos-duration="800">"Building a safer digital world, one line of code at a time!"</p>
        <p class="name" data-aos="fade-up" data-aos-delay="600">- Smit</p>
    </div>
    
    <div class="about-right" data-aos="fade-left" data-aos-duration="1000">
        <img src="images/about-1.png" alt="">
    </div>
</div>

<div class="education-section" data-aos="fade-up" data-aos-duration="1000">
    <div class="education-section-left" data-aos="fade-right" data-aos-duration="800">
        <h1>Education</h1>
        <h2>GSFC University , Vadodara</h2>
        <ul>
            <li>B.Tech. - Computer Science & Engineering (2021 - 2025)</li>
            <li>CGPA: 7.6 / 10</li>
        </ul>
        
        <h2 data-aos="flip-left" data-aos-delay="150">Higher Secondary 12th Grade , 2021</h2>
        <ul>
            <li data-aos="fade-up" data-aos-delay="300">My Shannen School, Vadodara, GSEB</li>
        </ul>

        <h2 data-aos="flip-left" data-aos-delay="450">Secondary School 10th Grade , 2019</h2>
        <ul>
            <li data-aos="fade-up" data-aos-delay="600">Bright English Medium School, Vadodara, GSEB</li>
        </ul>
    </div>
    
    <div class="education-section-right" data-aos="fade-left" data-aos-duration="1000">
        <img src="images/eedu-2.jpg" alt="">
    </div>
</div>

<div class="certi-section" data-aos="fade-up" data-aos-duration="1000">
    <div class="certi-left certi" data-aos="fade-right" data-aos-duration="800">
        <h1>Certificates</h1>
        <ol>
            <li data-aos="flip-up" data-aos-delay="150">NPTEL Cloud Computing</li>
        </ol>
        <a href="https://drive.google.com/drive/folders/17I1c4uMV-SkmcLRQ-9he6qHSgR9uclLn" target="_blank"><button data-aos="zoom-in" data-aos-delay="300">Certification</button></a>

        <ol>
            <li data-aos="flip-up" data-aos-delay="450">Basic life skills</li>
        </ol>
        <a href="https://drive.google.com/drive/folders/1bzJjtvYFiQfTxEsZ0lIOGrEVUNc94BKq" target="_blank"><button data-aos="zoom-in" data-aos-delay="600">Certification</button></a>

        <ol>
            <li data-aos="flip-up" data-aos-delay="750">Karate</li>
        </ol>
       <a href="https://drive.google.com/drive/folders/1oZ8CDUXoGgKUBH8H3Yp2WOfPi8oy1Y0V" target="_blank"> <button data-aos="zoom-in" data-aos-delay="900">Certification</button></a>
    </div>

    <div class="certi-right" data-aos="fade-left" data-aos-duration="1000">
        <img src="images/certi.png" alt="">
    </div>
</div>

<app-footer></app-footer>
