<div class="footer-section">
    <div class="design"><p>Design and Developed by Smit Dave</p></div>
    <div><p class="copyright">Copyright &copy; 2025 SD</p></div>
    <div class="footer-flex">
        <!-- <div></div> -->
        <div><a href="https://github.com/imsdave2003" target="_blank"><i class="fa-brands fa-github"></i></a></div>
        <!-- <div></div> -->
        <div><a href="https://www.linkedin.com/in/smit-dave-067353224?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></div>
        <!-- <div></div> -->
        <div class="connect-box">
            <a href="https://www.instagram.com/imsdave2003?utm_source=qr&igsh=MW9vNDRpZThqMDU4aw==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <!-- <div></div> -->
        <div class="connect-box">
            <div><a href="tel://+919428303914" target="_blank"><i class="fa-solid fa-phone-volume"></i></a></div>
        </div>
    </div>
</div>