<div class="home-section" data-aos="fade-up">
    <img src="images/hero-shape3.svg" alt="" class="bubble-1">
    <img src="images/hero-shape3.svg" alt="" class="bubble-4">
    <img src="images/hero-shape2.svg" alt="" class="bubble-2">
    <img src="images/hero-shape2.svg" alt="" class="bubble-3">
    <div class="home-left">
        <h3 class="home-title" data-aos="fade-right">Hi There!</h3>
        <h1 class="home-heading" data-aos="fade-right">I'M <span>SMIT DAVE</span></h1>
        <app-type-wriiter [roles]="['Creative Coder', 'Freelancer', 'Web Developer', 'Cyber Security Analyst', 'DevSecOps Specialist', 'Android Developer']"></app-type-wriiter>
        
        <a href="https://drive.google.com/drive/folders/1V1izBxLQ2dzNOGsmv7cyScTNSoRzQHWq" target="_blank" data-aos="zoom-in">
            <button>Download Resume</button>
        </a>
    </div>
    
    <div class="home-right" data-aos="fade-left">
        <img src="images/Introducing-Mobile-testing.png" alt="">
    </div>
</div>

<div class="home-contact" data-aos="fade-up">
    <h1>Feel free to <span>connect</span> with me</h1>
    <div class="connect-all-links">
        <div class="connect-box" data-aos="zoom-in">
            <div><a href="https://github.com/imsdave2003" target="_blank"><i class="fa-brands fa-github"></i></a></div>
        </div>
        <div class="connect-box" data-aos="zoom-in">
            <div><a href="https://www.linkedin.com/in/smit-dave-067353224?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app " target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></div>
        </div>
        <div class="connect-box" data-aos="zoom-in">
            <div><a href="tel://+919428303914" target="_blank"><i class="fa-solid fa-phone-volume"></i></a></div>
        </div>
        <div class="connect-box" data-aos="zoom-in">
            <div><a href="mailto:smitdave.710@gmail.com"  target="_blank"><i class="fa-regular fa-envelope"></i></a></div>
        </div>
        <div class="connect-box" data-aos="zoom-in">
            <a href="https://www.instagram.com/imsdave2003?utm_source=qr&igsh=MW9vNDRpZThqMDU4aw==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</div>

<app-footer></app-footer>
