/* Overall container */
.project-container {
    text-align: center;
    padding: 50px 20px;
    /* background: linear-gradient(135deg, #1c1c1c, #222933, #25202b); */
    min-height: 100vh;
}

/* Section title */
.project-container h1 {
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
    font-weight: 500;
    
}

.project-container h1 span{
    color: #8750F7;
}
/* Project card styling */
.project-card {
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    color: white;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.2s ease-out;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.project-card p{
    margin: 0.9rem 0;
}
/* Tech stack badges */
.tech-stack {
    margin-top: 10px;
}

.tech-stack span {
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}

@media screen and (max-width:500px) {
    .project-container h1{
        font-size: 28px;
        /* background-color: aliceblue; */
        text-align: center;
    }   
    .project-container .project-card{
        /* background-color: #8750F7; */
        width: 80%;
        /* height: auto; */
        /* width: 300px; */
        /* height: ; */
    }
    .project-card .tech-stack span{
        /* margin: 20px; */
        /* margin-right: 4px; */
        margin-bottom: 1rem;
        display: inline-block;
    }
}