<div class="experience container">
  <div class="experience-main">
    <div class="experience-text">
      <h1 data-aos="zoom-out">Work <span>Experiences</span></h1>
      <div class="company-text" data-aos="fade-right">
        <h2 class="company">Vedity Software Pvt Ltd</h2>
        <p class="intern">Web Designer</p>
        <p class="time">Aug 2022 - Sep 2022</p>
        <p class="intern-content">
          Designed and developed a tour and travel website using HTML,
          CSS, and JavaScript.
        </p>
        <div class="certi">
          <li>
            <a
              href="https://drive.google.com/drive/folders/1PrTalPwJtXc2Z0IQ8DLYp6ZX-kaiq0r5"
              target="_blank"
              ><button>Certification</button></a
            >
          </li>
        </div>
      </div>

      <div class="company-text" data-aos="fade-right">
        <h2 class="company">Arth Technology Pvt Ltd</h2>
        <p class="intern">Web Developer</p>
        <p class="time">Jan 2023 - Feb 2023</p>
        <p class="intern-content">
          Developed responsive front-end designs using HTML, CSS, and
          JavaScript. Automated data entry tasks in Excel, improving workflow
          efficiency. Converted Python scripts into executable files, enabling
          non-technical users to utilize automation.
        </p>
        <div class="certi">
          <li>
            <a
              href="https://drive.google.com/drive/folders/1oOOv-0qPKIkiLiGmAD1xCkhQsVS5ToJi"
              target="_blank"
              ><button>Certification</button></a
            >
          </li>
        </div>
      </div>

      <div class="company-text" data-aos="fade-right">
        <h2 class="company">CSE_GSFCU_Np</h2>
        <p class="intern">Patent Study & Research Paper Review</p>
        <p class="time">Mar 2023 - Jun 2023</p>
        <p class="intern-content">
          Analyzed the research paper "Improved Fair and Dynamic Provable Data
          Possession Supporting Public Verification". Identified key
          methodologies and proposed improvements for data security
          and verification.
        </p>
        <div class="certi">
          <li>
            <a
              href="https://drive.google.com/drive/folders/1q26zehJzw2M9eZdbpDLjII5xPoQ48pC1?usp=sharing"
              target="_blank"
              ><button>Certification</button></a
            >
          </li>
        </div>
      </div>

      <div class="company-text" data-aos="fade-right">
        <h2 class="company">HackersVilla CyberSecurity Pvt Ltd</h2>
        <p class="intern">Cyber Security Analyst</p>
        <p class="time">Dec 2023 - Jan 2024</p>
        <p class="intern-content">
          Conducted vulnerability assessments on client systems to identify
          security gaps. Utilized penetration testing tools to enhance security.
          Provided recommendations to mitigate cyber threats, improving system
          security by 30%.
        </p>
        <div class="certi">
          <li>
            <a
              href="https://drive.google.com/drive/folders/1d4VwV5xMyIQ7g9-oqPmCZMEmMoi3TA6m"
              target="_blank"
              ><button>Certification</button></a
            >
          </li>
        </div>
      </div>

      <div class="company-text" data-aos="fade-right">
        <h2 class="company">GU Incubation Innovation Technology and Applied Research (GUIITAR)</h2>
        <!-- <p class="intern">Cyber Security Analyst</p> -->
        <p class="time">Jun 2024 - Jul 2024</p>
        <p class="intern-content">
            Our project, "Emotion Detection Through Speech Using AI/ML," was conducted under the Student Startup and Innovation Policy (SSIP 2.0) at GSFC University, Vadodara. We were funded by GUIITAR Council, a Section 8 company, where we completed our internship from June 18 to July 18, 2024. The project focused on leveraging AI/ML techniques for emotion recognition from speech. Through dedication and hard work, we successfully contributed to this innovative initiative.
        </p>
        <div class="certi">
          <li>
            <a
              href="https://drive.google.com/drive/folders/12mJqAN1Y4qEaOUg8BhxhJW5VOuzrxdLH"
              target="_blank"
              ><button>Certification</button></a
            >
          </li>
        </div>
      </div>

      <div class="company-text" data-aos="fade-right">
        <h2 class="company">Sannibh Technology</h2>
        <p class="intern">DevSecOps and VAPT</p>
        <p class="time">Dec 2024 - Jan 2024</p>
        <p class="intern-content">
          During my internship at Sannibh Technologies (December 2024 – January 2025), I worked on DevSecOps and conducted Vulnerability Assessment and Penetration Testing (VAPT). My team developed a website from scratch, where I implemented security best practices to ensure secure development and deployment. Additionally, I performed special VAPT on interchanged websites from other groups, identifying and mitigating security vulnerabilities. This experience strengthened my expertise in application security, threat modeling, and secure CI/CD pipelines while enhancing collaboration in a real-world cybersecurity environment.
        </p>
        <div class="certi">
          <li>
            <a
              href="https://drive.google.com/drive/folders/1y6M-SlzgmjeSoY-PlvEROmSe5G7HoJrv"
              target="_blank"
              ><button>Certification</button></a
            >
          </li>
        </div>
      </div>
      
    </div>
    <div class="experience-image" data-aos="zoom-in">
      <img src="images/experience (1).png" alt="" />
    </div>
  </div>
</div>


<app-footer></app-footer>