/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&family=Yuji+Mai&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Sora", sans-serif;
    /* background-color: black; */
}
html,body{
    background-color: black;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 7px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #120E19; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #7A48E0; /* Color of the scroll thumb */
    border-radius: 10px; /* Roundness of the scroll thumb */
    
}

::-webkit-scrollbar-thumb:hover {
    background: #7A48E0; /* Color of the scroll thumb on hover */
}
